<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" data-provider-thread-count="4">
  <listeners>
	  <listener class-name="com.tmb.listeners.ListenerClass"/>
	  <listener class-name="com.tmb.listeners.MethodIntercepter"/>
	  <listener class-name="com.tmb.listeners.AnnotationTransformer"/>
	    </listeners>
  <test name="Testing">
    <classes>
    <class name="com.tmb.tests.ParaBankLoginTest"/>
    <class name="com.tmb.tests.ParaBankHomepageTest"/>
    </classes>
  </test> <!-- com.tb.tests.ParaBankLoginTest ,com.tmb.practice.Listeners.Runner-->
</suite> <!-- Suite -->
